* {
	margin: 0;
	padding: 20;
	box-sizing: border-box;
}

body {
    background-color: rgba(46, 184, 41, 0.219);
    color: blueviolet;

}

#game-canvas {
	width: 800px;
	height: 600px;
	border: solid 1px black;
}
